.updateproduct-container {
    width: 100%;
    background-color: rgb(221, 221, 221);
    border-left: 1px solid rgba(0, 0, 0, .175);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.updateproduct-container h1 {
    color:rgba(0, 0, 0, .735);
    font: 300 2rem 'Roboto';
    text-align: center;
}

.updateproduct-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: .5vmax 3vmax;
    justify-content: space-evenly;
    width: 50%;
    height: 95vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .222);
    border-radius: 4px;
}

.updateproduct-form > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updateproduct-form > div > input,
.updateproduct-form > div > select,
.updateproduct-form > div > textarea {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .175);
    border-radius: 4px;
    font: 300 .9vmax cursive;
    outline: none;
}

.updateproduct-form > div > textarea {
    resize: none;
}

.updateproduct-form > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, .666);
}

.updateproduct-form-file > input {
    display: flex;
    padding: 0;
}

.updateproduct-form-file > input::file-selector-button {
    cursor: pointer;
    z-index: 2;
    height: 5vh;
    border: none;
    font: 400 .8vmax cursive;
    transition: all .5s;
    color:rgba(0, 0, 0, .666);
    background-color: rgb(255, 255, 255);
}

.updateproduct-form-file > input::file-selector-button:hover {
    color: tomato;
}

.updateproduct-form-image {
    width: 100%;
    height: auto;
    min-width: none;

    overflow: auto;
}

.updateproduct-form-image > img {
    width: 3vmax;
    height: auto;
    margin: 0 .5vmax;
}

.updateproduct-btn {
    border: none;
    background-color: tomato!important;
    color: white!important;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.updateproduct-btn:hover {
    background-color: rgb(179, 66, 46)!important;
}

@media screen and (max-width: 600px) { 
    .updateproduct-container {
        background-color: rgb(255, 255, 255);
    }

    .updateproduct-container h1 {
        font-size: 1.5rem;
    }

    .updateproduct-form {
        padding: 5vmax;
        width: 70%;
    }

    .updateproduct-form > div > input,
    .updateproduct-form > div > select,
    .updateproduct-form > div > textarea {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }

    .updateproduct-form > div > svg {
        font-size: 2.8vmax;

    }

    .updateproduct-form-image > img {
        width: 8vmax;
        height: 8vmax;
        min-width: none;
        border-radius: 100%;
    }
    
    .updateproduct-form-file::file-selector-button {
        height: 7vh;
        font: 400 1.8vmax cursive;
    }


    .updateproduct-btn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}



























