.profile-container {
    display: flex;
    width: 100vw;
    max-width: 100%;
    background-color: #fff;
}

.profile-container > div {
    display: flex;
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-container > div:first-child > h1 {
    color: rgba(0, 0, 0, 0.685);
    font: 500 2.2vmax "Roboto";
    transform: translateX(-12vmax) translateY(-2vmax);
}

.profile-container > div:first-child > img {
    width: 20vmax;
    border-radius: 50%;
    transition: all .3s;
}

.profile-container > div:first-child > img:hover {
  transform: scale(1.05);
}

.profile-container > div:first-child > a {
    background-color: tomato;
    border: none;
    color: #fff;
    font: 400 1vmax 'Roboto';
    padding: .5vmax;
    width: 30%;
    margin: 4vmax;
    transition: all .4s;
    text-align: center;
}

.profile-container > div:first-child > a:hover {
    background-color: rgb(165, 30, 7);
}

.profile-container > div:last-child {
    justify-content: space-evenly;
    padding: 5vmax;
    align-items: flex-start;
}

.profile-container > div:last-child > div {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.profile-container > div:last-child > div > h4 {
   color: black;
   font : 400 1.1rem 'Roboto';

}
.profile-container > div:last-child > div > p {
   color: rgba(0, 0, 0, 0.733);
   font : 400 1.1rem curasive;
   margin: .2vmax;
}

.profile-container > div:last-child > div:last-child > a {
    border: none;
    background-color: rgb(68, 68, 68);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
  }
  
  .profile-container > div:last-child > div:last-child > a:hover {
    background-color: rgb(31, 31, 31);
  }

  @media screen and (max-width: 600px) {
    .profile-container {
      flex-direction: column;
    }

    .profile-container > div {
        height: auto;
    }

    .profile-container > div:first-child {
        margin-top: 3rem;
        margin-bottom: -2rem;
    }
  
    .profile-container > div:first-child > h1 {
      font: 500 1.5rem "Roboto";
      transform: translateY(-2vmax);
    }
  
    .profile-container > div:first-child > a {
      font: 400 1rem "Roboto";
      padding: 1vmax;
    }
  
    .profile-container > div:last-child {
      text-align: center;
      align-items: center;
    }
  
    .profile-container > div:last-child > div > h4 {
      font: 400 1rem "Roboto";
    }
  
    .profile-container > div:last-child > div > p {
      font: 400 .9rem cursive;
      margin: 0.5vmax 0;
    }
  
    .profile-container > div:last-child > div:last-child > a {
      font: 400 1rem "Roboto";
      padding: .7rem;
      margin: .7rem 0;
    }
  }