.banner {
  background-image: linear-gradient(to right, #bebcd5, #ab6431);
  height: 96vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner h1 {
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}

.banner p {
  font-weight: 300;
  font-size: 1.3vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.banner a button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  transition: all 0.5s;
  border-radius: 1vmax;
  padding: 1vmax;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}

.banner a button:hover {
  background-color: transparent;
  color: white;
}

.banner::after {
  content: "";
  max-width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  margin-top: 6rem;
}

.homeHeading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.3vmax;
  border-bottom: 1px solid rgba(31, 31, 31, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 100vw !important;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 5vmax;
}

.productCard {
  width: 14vmax;
  height: 21vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 1vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  border-radius: 1vmax;
  overflow: hidden !important;
  padding: 1vmax;
  box-shadow: 0 0 15px rgba(156, 152, 152, 0.2);
}

.productCard img {
  width: 12vmax;
  height: 12vmax;
  object-fit: cover;
}

.productCard img[alt] {
  font-size: 1rem;
}

.productCard div {
  margin: 0.2vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.productCard > div > span {
  font: 400 0.8vmax "Roboto";
}

.productCard p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 1vmax 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 15px rgba(15, 15, 15, 0.205);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  /* .productCard>div {
        margin: 0;
        display: block;
    } */

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }

  .productCard img[alt] {
    font-size: 0.5rem;
  }
}
