.update-profile {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    width: 100vw;
    max-width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-form-container {
    width: 35vw;
    height: 85vh;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 2px;
    margin-bottom: 3rem;
}

.update-profile-heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 2.5rem;
    color: rgb(39, 37, 37);
}

.update-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1rem;
    transition: all .5s ease-in;
    gap: 1.5rem;
}

.update-form > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.update-form > div > input {
    padding: 1rem 2.5rem;
    padding-right: 1rem;
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(29, 24, 24, 0.192);
    border-radius: 4px;
    outline: none;
    margin-right: 2rem;
}

.update-form > div > svg {
    transform: translateX(2rem);
    color:rgba(0, 0, 0, 0.651)
}

.update-fileUpload > img {
    width: 3vmax;
    border-radius: 100%;
  }
  .update-fileUpload > input {
    display: flex;
    padding: 0!important;
    border: none!important;
    outline: none!important;
    margin: 0!important;
    margin-right: 1rem!important;
    width: 70%!important;
    margin-left: 1vmax!important;
  }
  
  .update-fileUpload > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgb(255, 255, 255);
    background-color: rgb(104, 99, 99);
  }
  
  .update-fileUpload > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
    color:rgba(2, 2, 2, 0.959)
  }

.update-button {
    border: none;
    display: block;
    background-color: tomato;
    color: #fff;
    padding: 1rem 5rem;
    margin: 2rem auto;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    transition: all 0.5s;
    cursor: pointer;
}

@media screen  and (max-width: 1180px) {
    .update-form-container {
        width: 50vw;
    }
}

@media screen  and (max-width: 900px) {
    .update-form-container {
        width: 70vw;
    }
}